DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=to_be_or_no_to_be
DB_DATABASE=spotify
SPOTIFY_DUMP_DIR=./spotify_dump_folder
SPOTIFY_CLIENT_ID==
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/api/spotify/callback
