@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background: #121212;
  color: #ffffff;
  font-family:
    SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek,
    CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
